{
	"ecmaFeatures": {},
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jest/globals": true
	},
	"plugins": [
		"jest",
		"@lwc/eslint-plugin-lwc",
		"prettier"
	],
	"extends": [
		"@salesforce/eslint-config-lwc/recommended",
		"plugin:prettier/recommended",
		"prettier"
	],
	"globals": {
		"$A": "readonly"
	},
	"ignorePatterns": [
		"node_modules/",
		"dist/",
		"IlluminatedCloud/",
		".idea/"
	],
	"noInlineConfig": false,
	"overrides": [],
	"parser": "",
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"root": false,
	"rules": {
		"semi": "error",
		"prefer-const": "error",
		"@lwc/lwc/no-deprecated": "error",
		"@lwc/lwc/valid-api": "error",
		"@lwc/lwc/no-document-query": "error",
		"@lwc/lwc/consistent-component-name": "warn",
		"@lwc/lwc/no-leading-uppercase-api-name": "off",
		"prettier/prettier": [
			"error",
			{
				"usePrettierrc": false,
				"trailingComma": "es5",
				"tabWidth": 4,
				"singleQuote": true,
				"printWidth": 180,
				"embeddedLanguageFormatting": "auto",
				"endOfLine": "lf",
				"apexInsertFinalNewline": false,
				"plugins": [
					"prettier-plugin-apex",
					"@prettier/plugin-xml"
				],
				"overrides": [
					{
						"files": "**/lwc/**/*.html",
						"options": {
							"parser": "lwc"
						}
					},
					{
						"files": "**/*.{cmp,page,component}",
						"options": {
							"parser": "html"
						}
					},
					{
						"files": "**/*.{trigger,cls,page}",
						"options": {
							"parser": "apex"
						}
					},
					{
						"files": "**/*.{apex,soql}",
						"options": {
							"parser": "apex-anonymous"
						}
					}
				]
			}
		]
	},
	"settings": {}
}