# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
# Code style settings
/codeStyles/
# Inspection profiles
/inspectionProfiles/
# User-specific project libraries
/libraries/

# Plugins

csv-editor.xml
/environmentVariables.xml
